@import url("https://fonts.googleapis.com/css2?family=Aboreto&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

body {
  margin: 0;
  padding: 0;
  font-family: "Aboreto" cursive;
}

body,
html {
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box {
  min-width: 100px;
}
