@import url("https://fonts.googleapis.com/css2?family=Aboreto&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

body {
  margin: 0;
  padding: 0;
  font-family: "Aboreto" cursive;
  background: #f8f8ff;
}

body,
html {
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

.box {
  min-width: 100px;
}

.box:hover {
  zoom: 10%;
}

::-webkit-scrollbar {
  width: 0px;
}

.videoContainer {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.video {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  transform: scale(6);
}

.h {
  display: block;
}

::selection {
  background-color: rgba(173, 216, 230, 0.548);
}

.cursor {
  position: fixed;
  border: 1px solid white;
  background-color: #1f1f1f;
  mix-blend-mode: difference;
  background-color: white;
  pointer-events: none;
  z-index: 9999999;
  width: 20px;
  height: 20px;
  border-radius: 100%;
}

.menu-button:hover .cursor {
  height: 50px;
  width: 50px;
}

.child:nth-child(4) {
  border-bottom: 1px solid black !important;
}

.rot {
  text-orientation: sideways;
  writing-mode: sideways-lr;
}

/*contact */
.contact {
  height: 100vh;
  width: 100vw;
  position: relative;
  font-family: "Aboreto", cursive;
}

.input-con {
  display: flex;
  gap: 2rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.inp {
  background-color: transparent;
  border: 1px solid black;
  font-weight: 600;
  font-size: 0.9rem;
}

.input-4 {
  height: 50vh;
  width: 30vw;
  resize: none;
  padding: 3%;
  color: black;
  outline: none;
}

.input-1 {
  height: 9vh;
  width: 20vw;
  padding: 1rem;
}

.input-2 {
  height: 9vh;
  width: 20vw;
  padding: 1rem;
}

.input-3 {
  height: 9vh;
  width: 20vw;
  padding: 1rem;
}

.contact-submit {
  height: 10vh;
  width: 15vw;
  background-color: black;
  color: white;
  position: absolute;
  bottom: 1px;
}

.cursor {
  width: 20px;
  height: 20px;
  border: 1px solid white;
  border-radius: 50%;
  position: absolute;
  pointer-events: none;
}

@keyframes cursorAnim {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(5);
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
.expand {
  animation: cursorAnim 0.5s forwards;
}

@keyframes marquee {
  0% {
    left: 0;
  }
  100% {
    left: -900%;
  }
}

@keyframes marqueee {
  0% {
    top: 0;
  }
  100% {
    top: -900%;
  }
}

@keyframes marqueeee {
  0% {
    bottom: 0;
  }
  100% {
    bottom: -800%;
  }
}

.animatesss {
  height: 900%;
  animation: marqueeee 40s linear infinite;
  opacity: 0.8;
}

.tt > img {
  width: 500px;
}

.animatess {
  width: 900%;
  animation: marqueee 30s linear infinite;
}

.animates {
  width: 500%;
  animation: marquee 20s linear infinite;
  top: 50%;
  transform: translate(0, -50%);
}

@media (min-width: 1024px) {
  @keyframes marquee {
    0% {
      left: 0;
    }
    100% {
      left: -375%;
    }
  }
  .animates {
    width: 750%;
    animation: marquee 20s linear infinite;
    top: 50%;
    transform: translate(0, -50%);
  }
}

/* .animates:hover {
  animation-play-state: paused;
} */

@media (max-width: 1000px) {
  .cursor {
    display: none;
  }
}
